<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="keywords" content="{{ page.title }}{% for cat in page.categories %}, {{ cat }}{% endfor %}{% for tag in page.tags %}, {{ tag }}{% endfor %}" />
    <meta name="theme-color" content="#6C8EF5" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />

    <!-- Google Fonts: 中文字体 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&family=Noto+Serif+SC:wght@400;600;700&family=ZCOOL+XiaoWei&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">

    <!-- 核心样式 -->
    <link rel="stylesheet" type="text/css" href="{{ '/static/css/main.css' | prepend: site.baseurl | prepend: site.url }}" />

    {% if page.layout == 'post' %}
    <!-- 文章页额外样式 -->
    <link rel="stylesheet" type="text/css" href="{{ '/static/css/post.css' | prepend: site.baseurl | prepend: site.url }}" />
    {% endif %}

    {% if page.styles %}
    <!-- 页面额外样式 -->
    {% for style in page.styles %}
    <link rel="stylesheet" type="text/css" href="{{ '/static/css/' | append: style | prepend: site.baseurl | prepend: site.url }}" />
    {% endfor %}
    {% endif %}

    <!-- 百度统计 -->
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?{{ site.baidu_analytics }}";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
