---
---

@import "{{ site.theme }}";

/* 不显示forkme链接 */
a#forkme_banner {
    display: none;
}

/* 鼠标悬浮在头部标题链接上时不显示下划线 */
header a:hover {
    text-decoration: none;
}

/* 减小标题大小 */
header h1 {
    font-size: 2em;
}

/* 增加副标题上间距，增大字体大小 */
header h2 {
    padding-top: 10px;
    font: bold italic 1em/1.5 Georgia, Times, “Times New Roman”, serif;
}

body {
    font-family: -apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
}

/* 摘要内容置灰色*/
#post_excerpt{
    color: gray;
}

/* 设置首页文章标题 */
#post_title {
    font-size: 1.5em;
    color: black;
    border-bottom: 1px solid #d22222;
}

section#main_content a:hover {
    text-decoration: none;
    color: #d22222;
}

/* 增大行间距 */
p {
    margin: 1em 0;
}

/* 强调内容样式 */
strong {
    font-size: 1.2em;
}

/* 增加主体区宽度 */
div.shell {
    width: 1000px;
}

/* 不显示 span.banner-fix */
span.banner-fix {
    display: none;
}

/* 一级标题左对齐 */
.header-level-1 {
    text-align: left;
}

/* 设置文章信息间隔 */
.post_info {
    padding: 0 6px;
}

/* 文章页下推荐相关文章 */
#related_posts {
    border-bottom: 1px solid #d22222;
    color: #d22222;
    font-weight: 700;
}

/* 增加页脚最大宽度 */
footer {
    max-width: 1000px;
}