---
---

@import "{{ site.theme }}";

/* 不显示forkme链接 */
a#forkme_banner {
    display: none;
}

/* 鼠标悬浮在头部标题链接上时不显示下划线 */
header a:hover {
    text-decoration: none;
}

/* 减小标题大小 */
header h1 {
    font-size: 2em;
}

/* 增加副标题上间距，增大字体大小 */
header h2 {
    padding-top: 10px;
    font: bold italic 1em/1.5 Georgia, Times, “Times New Roman”, serif;
}

/* 导航栏 */
section#nav {
    position: relative;
    display: block;
    height: 171px;
    width: 602px;
    padding-bottom: 150px;
    margin: 51px auto -250px;
    z-index: 1;
    background: transparent url(../images/shield.png) center 0 no-repeat;
  }
  
  section#nav a {
    display: none;
  }

/* 增加主体区宽度 */
div.shell {
    width: 1000px;
}

/* 不显示 span.banner-fix */
span.banner-fix {
    display: none;
}

/* 一级标题左对齐 */
.header-level-1 {
    text-align: left;
}

/* 增加页脚最大宽度 */
footer {
    max-width: 1000px;
}