---
layout: default
---
<h2>{{ page.title }} - {{ page.author }}</h2>
<p>
    {{ page.date | date: "%Y-%m-%d" }}
    {% assign author = site.authors | where: 'short_name', page.author | first %}
    {% if author %}
      - <a href="{{ author.url }}">{{ author.name }}</a>
    {% endif %}
    文章分类：{{ page.categories[0] }}
</p>

{{ content }}

<p>
<div id="related_posts">相关文章：</div>
{% for post in site.related_posts %}
  <li>
    <a href="{{ post.url}}">{{ post.title }}</a>
  </li>
{% endfor %}
</p>

<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script src="/assets/js/md5.min.js"></script>
<script>
console.log("md5 of location.pathname: " + md5(location.pathname))
var gitalk = new Gitalk({
  clientID: 'd73e98e707bf5f9b582e',
  clientSecret: '803614808dfcf6f46d82d4c723a51fb18c6e3c2e',
  repo: 'gitalk-of-shanyshanb',
  owner: 'hummerstudio',
  admin: ['hummerstudio'],
  id: md5(location.pathname),      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
</script>
